<div classname="dagAsp_contMain">
    
    <div classname="dagAsp_contMain_left">
        
        <div classname="dagAsp_cont_icon_and_text">
        
            <div classname="dagAsp_cont_text">
      
            </div>          
            
            <div classname="dagAsp_cont_icon_">
            
            </div>
        </div>
    </div>

    <div classname="dagAsp_contMain_right">
        <div classname = "color_empty_white">  </div> // <!-- waarde 5-->
        <div classname = "color_welzijn_4"> 4 </div> // <!-- waarde w-->
        <div classname = "color_welzijn_4">  </div> // <!-- waarde e-->
        <div classname = "color_welzijn_4">  </div> // <!-- waarde r-->
        <div classname = "color_welzijn_4">  </div> // <!-- waarde 5-->

    </div>
    
</div>