.dagAsp_contMain {
  border: 0px solid;
  margin: 3px;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.dagAsp_contMain_left {
  border: solid 3px rgb(255, 115, 1); /* Dynamische borderkleur */
  background-color: #f0f0f0;
  flex: 1; /* Zorgt ervoor dat het even groot is als het rechterdeel */
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 20vh; /* Hoogte beperken tot 20% van de schermhoogte */
}

.dagAsp_cont_icon_and_text {
  text-align: center;
}

.dagAsp_cont_icon_ img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain; /* Afbeelding netjes schalen */
}

.dagAsp_contMain_right {
  background-color: rgba(30, 255, 0, 0.4) !important;
  flex: 1;
  max-height: 20vh; /* Hoogte beperken tot 20% van de schermhoogte */
  display: flex;
  flex-direction: column;
}
