.transparent-btn {
  background-color: rgba(0, 123, 255, 0.2) !important;
  border-color: rgba(0, 123, 255, 0.5) !important;
}

.bg-light-green {
  background-color: #ccffcc;
}
.bg-deep-red {
  background-color: #ff6666;
}
.bg-light-grey {
  background-color: #f2f2f2;
}
.bg-transparent-green {
  background-color: rgba(0, 255, 0, 0.2);
}
.bg-transparent-red {
  background-color: rgba(255, 0, 0, 0.2);
}

.modal-body { 
  padding:1px !important;
}

.noSpaceArround {
  padding: 0;
  border: 0;
  margin: 0;
}

.weatherInfo {
  background-color: #1c1b1b;
  width: 3rem;
  margin-left: 1rem;
  font-size: x-small;
}

.opmerkingContainer {
  display: flex;
  align-items: center; /* Centreert de span verticaal */
  flex-direction: row;
  margin-bottom: 8px;
  border: solid 3px rgb(29, 100, 121) !important;
  width: 100%;
  padding-left: 4px;
}


.inputOpmerking {
  margin-left: 4px;
  width: 100%;
  border: solid 3px rgb(17, 30, 67);
  padding-left: 5px;
  height: 2.4rem; /* Aangepaste hoogte */
  resize: vertical; /* Sta gebruikers toe de hoogte aan te passen */
  font-size:medium;
}

.editDagModal_container {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.editDagModel_menuLeft {
  border: solid 3px rgb(29, 100, 121) !important;
  width:15%;
}

.editDagModel_menuLeft .aspect-item {
  padding: 4px;
}

.drag-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  pointer-events: none;
}

.image-container {
  position: relative; /* Hiermee kan de span zich binnen deze container positioneren */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 9px;;
}

.image-label {
  position: absolute;
  bottom: -14px;
  left: 45%;
  transform: translateX(-50%); 
  color: rgb(195, 246, 250);
  font-size: 0.8em;
  padding: 0px 3px;
  border-radius: 3px;
  white-space: nowrap;
}

.editDagModel_right{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Zorgt dat extra items naar de volgende regel gaan */
  border: solid 3px rgb(29, 100, 121) !important;
  width:85%;
}

.return-to-origin {
  animation: moveBack 0.5s ease-out, flashRed 1s ease-in-out 0.5s;
}

@keyframes moveBack {
  0% { transform: translateX(0); }
  50% { transform: translateX(-30px); }
  100% { transform: translateX(0); }
}

@keyframes flashRed {
  0%, 100% { border: 3px solid transparent; }
  25%, 75% { border: 10px solid red; }
}