#root {
  margin-left: 0 !important; 
  padding: 0rem;
  text-align: center;
}

.myNavbar {
  margin-bottom: 50px !important; 
}

body {
    align-content: flex-start;
    background-color: #0b6274;
    padding-left: 3px;
    margin-left: 0;
  } 

.fitIn {
  width: 100% !important;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.picto {
  height: 100%;
  max-height: 5vh;
  width: 100%;
  max-width:  1.7rem;
  margin-left: 4px;
  font-weight: bold;
}

.striped {
    border-collapse: collapse;  
    border: 2px, solid, rgba(120, 130, 227, 0.272)
}

.noPadding {padding:0 !important}

/*   WIJZIGEN van de waarde details     */

.css-13cymwt-control {   /* this is de dropdown, to align vertical */
  flex-direction: column;
}

.text-overlay {
  white-space: nowrap;  /* Prevent the text from breaking into a new line */
}

.overlay-cell {
  position: relative;
}

.overlay-cell::after {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap; /* Prevent the text from breaking into a new line */
  z-index: 1;
}

.edit_waardeDagDeel_header {
  font-size: small;
  text-align: center
}

.edit_waardeDagDeel_Select {
  width: 10rem !important;
  font-size: x-large !important;
}

.xx-small  { font-size: xx-small !important}
.x-small   { font-size: x-small !important}
.small     { font-size: small  !important }
.large     { font-size: large  !important }
.x-large   { font-size: x-large !important}
.xx-large  { font-size: xx-large !important}

.perc12 {width: 11% !important}


.linksRechtContent {
  display: flex;
  justify-content: space-between; 
  align-items: baseline;  
}

.modalBody {
  border: solid rgb(141, 141, 141) 4px;
}

.leftSpace {margin-left: 3px !important }

.opmerkingen {
  /* background-color: #aa9379 !important; */
  padding: 1px;
  height: 0.6rem !important;
  font-size: small !important;
  text-align: left;
}

.opmerkingen_header {
  background-color: #464642 !important; 
  border: solid 1px rgb(111, 111, 111)  !important;;
  padding: 1px;
  height: 0.8rem !important;
  text-align: left;
}

.opmerking_kol1 {
  font-size: small  !important;
}

.opmerking_row {
  border: solid 1px rgb(79, 79, 79)  !important;
  margin-bottom: 3px !important;
}

.smallFont { font-size: small !important }  
.x-smallButton { font-size: x-small !important }  
.xx-smallButton { 
  font-size: xx-small !important ;
  padding:3px !important;
}

/* Example CSS classes for background colors */
.custom-select .select__control {
  background-color: transparent; /* You can use the class for styling here */
}

/* Add specific styles if needed */
.select__control.color_0 {
  background-color: rgb(114, 136, 156); /* Adjust or override based on your classes */
}

.select__control.color_1 {
  background-color: rgb(20, 244, 54); /* Adjust or override based on your classes */
}



.bootstrap-select .dropdown-toggle {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center items horizontally */
}

.bootstrap-select .dropdown-toggle svg {
  display: block; /* Make sure SVG icon is on its own line */
}

.bootstrap-select .dropdown-menu {
  background-color: #bedbf8; /* Light background for dropdown */
}

/* Adjust styles for the SVG or icon within the dropdown toggle */
.bootstrap-select .dropdown-toggle .dropdown-toggle-icon {
  margin-bottom: 2px; /* Adjust spacing between icon and arrow */
}



/* Ensure icon and arrow are in column layout on mobile */
@media (max-width: 768px) {
 
}


.buttonBasis {
  margin-top: 0.2rem;
}


.opacity_50perc {
  opacity: 0.5 !important; 
}


.redBorder {
  border: solid 2px red;
}

.tdBorder{
  border : solid 1px rgb(22, 120, 28);
}

.nav a { 
  display: flex;
  color: inherit;
  text-decoration: none ; 
  height: 100%;
  align-items: stretch;
  padding: .3rem;
}

.loginOkStyle {
  border-color: rgb(6, 79, 6);
  color: rgb(158, 252, 158);
}

.loginFalseStyle {
  border-color: rgb(121, 5, 5);
  color: rgb(255, 32, 32);
}

.partial-fill-button {
  position: relative;
  overflow: hidden;
  background-color: #ccc; /* Background color of the button */
  color: black; /* Text color */
  border: 1px solid #ccc;
}

.partial-fill-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%; /* Adjust this value to control the fill percentage */
  height: 100%;
  background-color: #007bff; /* Fill color */
  z-index: 0;
}

.partial-fill-button span {
  position: relative;
  z-index: 1;
}

.showAspectButton {
  height: 1.3rem !important ;

  padding-top: 4px !important ; 
  margin:auto !important ; 
  }

.long-word-break {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all; /* Ensures long words break */
}

.sliderDatumClass { font-size: x-small; }

.slider-button {
  padding: 10px;
}

.buttonRight {position: absolute; right: 1rem;}

.width3px  { width: 3px }
.space { padding-right: 6px;}

.welzijn_color_0 {  background-color: rgb(99, 97, 97, 0.4)   !important; color: rgb(99, 97, 97)   !important }  
.welzijn_color_1 {  background-color: rgb(30, 255, 0, 0.4)   !important; color: rgb(30, 255, 0)   !important }
.welzijn_color_2 {  background-color: rgb(108, 150, 30, 0.4) !important; color: rgb(108, 150, 30) !important }
.welzijn_color_3 {  background-color: rgb(207, 197, 22, 0.4) !important; color: rgb(207, 197, 22) !important }
.welzijn_color_4 {  background-color: rgb(255, 115, 1, 0.4)  !important; color: rgb(255, 115, 1)  !important }
.welzijn_color_5 {  background-color: rgb(236, 24, 140, 0.4) !important; color: rgb(236, 24, 140) !important }

.med_color_0     {  background-color: rgb(99, 97, 97, 0.4)   !important; color: rgb(99, 97, 97)   !important }  
.med_color_1     {  background-color: rgb(207, 197, 22, 0.4) !important; color: rgb(207, 197, 22) !important }
.med_color_2     {  background-color: rgb(108, 150, 30, 0.4) !important; color: rgb(108, 150, 30) !important }
.med_color_3     {  background-color: rgb(30, 255, 0, 0.4)   !important; color: rgb(30, 255, 0)   !important }
.med_color_4     {  background-color: rgb(207, 197, 22, 0.4) !important; color: rgb(207, 197, 22) !important }
.med_color_5     {  background-color: rgb(255, 115, 1, 0.4)  !important; color: rgb(255, 115, 1)  !important }



.color_0 { background-color: rgb(99, 97, 97)    !important }  
.color_1 { background-color: rgb(30, 255, 0)    !important }  
.color_2 { background-color: rgb(108, 150, 30)  !important }  
.color_3 { background-color: rgb(207, 197, 22)  !important }  
.color_4 { background-color: rgb(255, 115, 1)   !important }  
.color_5 { background-color: rgb(236, 24, 140)  !important }  

/* colors for norma range low - high */
.fg_color_0 { color: rgb(99, 97, 97)    !important }  
.fg_color_1 { color: rgb(0, 255, 38)    !important }   
.fg_color_2 { color: rgb(104, 164, 0)   !important }  
.fg_color_3 { color: rgb(207, 197, 22)  !important }  
.fg_color_4 { color: rgb(255, 132, 1)   !important }  
.fg_color_5 { color: rgb(236, 24, 140)  !important }  

.bk_color_0 { background-color: rgb(99, 97, 97, 0.2)    !important }  
.bk_color_1 { background-color: rgba(0, 255, 38, 0.2)   !important }   
.bk_color_2 { background-color: rgba(0, 164, 101, 0.2)   !important }  
.bk_color_3 { background-color: rgb(207, 197, 22, 0.2)  !important }  
.bk_color_4 { background-color: rgba(225, 255, 1, 0.2)   !important }  
.bk_color_5 { background-color: rgb(236, 24, 140, 0.2)  !important }  


/* colors for gedaan middle = normal low = blue and hgh is red */

.gedaan_color_0 { color: rgb(99,  97,  97)  !important }  
.gedaan_color_1 { color: rgb(175, 225, 245) !important }   
.gedaan_color_2 { color: rgb(50,  191, 163) !important }   
.gedaan_color_3 { color: rgb(104, 164, 0)   !important }   
.gedaan_color_4 { color: rgb(255, 132, 1)   !important }  
.gedaan_color_5 { color: rgb(236, 24,  140) !important } 

.testColor { color: rgb(222, 242, 255) }
.buttonEyeAanUit { 
  background-color: rgb(168, 208, 235) !important; 
  height: 2rem;
  padding-top: 0.1rem;
}

.buttonCRUD { 
  background-color: rgb(168, 208, 235) !important; 
  height: 1.4rem !important;
  width: 2rem  !important;  
  padding: 0.2rem !important; 
}

.Button_x-large {
  padding: 1rem 2rem; /* Increase padding for an extra-large button */
  font-size: 1.5rem;   /* Increase font size */
}

.py-4 {
  padding: 2px !important;
  padding-top: 8px !important;
  margin-right:-5px;
}

.grey {color: gray}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (min-width: 600px) {
  #root {  padding: 2rem;
  }
}

.card {
  padding: 21m;
}

.read-the-docs {
  color: #888;
}
