#root {
  margin-left: 0 !important; 
  padding: 0rem;
  text-align: center;
}

.myNavbar {
  margin-bottom: 50px !important; 
}

body {
    align-content: flex-start;
    background-color: #0b6274;
    padding-left: 3px;
    margin-left: 0;
  } 

.fitIn {
  /* display: flex !important;*/
    width: 100% !important;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.picto {
  height: 100%;
  max-height: 5vh;
  width: 100%;
  max-width:  1.7rem;
  margin-left: 4px;
  font-weight: bold;
}

.striped {
    border-collapse: collapse;  
    border: 2px, solid, rgba(120, 130, 227, 0.272)
}

.noPadding {padding:0 !important}

/*   WIJZIGEN van de waarde details     */

.css-13cymwt-control {   /* this is de dropdown, to align vertical */
  flex-direction: column;
}

.text-overlay {
  white-space: nowrap;  /* Prevent the text from breaking into a new line */
}

.overlay-cell {
  position: relative;
}

.overlay-cell::after {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap; /* Prevent the text from breaking into a new line */
  z-index: 1;
}

.edit_waardeDagDeel_header {
  font-size: small;
  text-align: center
}

.edit_waardeDagDeel_Select {
  width: 10rem !important;
  font-size: x-large !important;
}

.xx-small  { font-size: xx-small !important}
.x-small   { font-size: x-small !important}
.small     { font-size: small  !important }
.large     { font-size: large  !important }
.x-large   { font-size: x-large !important}
.xx-large  { font-size: xx-large !important}

.perc12 {width: 10% !important}

.sliderWeek_td { 
  overflow: hidden; 
}
.sliderWeek_tdWidth {width:40px !important}
.sliderWeek_first_tdWidth_mobilePortrait {display: flex; }


.linksRechtContent {
  display: flex;
  justify-content: space-between; 
  align-items: baseline;  
}

.modalBody {
  border: solid rgb(141, 141, 141) 4px;
}

.leftSpace {margin-left: 3px !important }

.opmerkingen {
  /* background-color: #aa9379 !important; */
  padding: 1px;
  height: 0.6rem !important;
  font-size: small !important;
  text-align: left;
}

.opmerkingen_header {
  background-color: #464642 !important; 
  border: solid 1px rgb(111, 111, 111)  !important;;
  padding: 1px;
  height: 0.8rem !important;
  text-align: left;
}

.smallPadding {
  padding: 2px !important
}

.smallPaddingHeight {
  padding: 2px 10px !important
}

.smallMargin {
  margin: 2px !important
}

.opmerking_kol1 {
  font-size: small  !important;
}

.opmerking_row {
  border: solid 1px rgb(79, 79, 79)  !important;
  margin-bottom: 3px !important;
}

.smallFont { font-size: small !important }  
.x-smallButton { font-size: x-small !important }  
.xx-smallButton { 
  font-size: xx-small !important ;
  padding:3px !important;
}

.plusButton {
  cursor: pointer;
  font-weight: bolder;
  border-radius: 5px;
}

.modal1 {margin-inline: 5px;border: solid 3px rgba(6, 56, 174, 0.5) }

/* Light mode styles */
[data-bs-theme="light"] {
  .plusButton {
    background-color: rgb(191, 225, 225) !important; /* Ensure background color is applied */
    color: black; /* Change text color for visibility */
  }

  .kalenderDag {
    /* background-color: rgb(220, 244, 244) !important; Ensure background color is applied */
    color: rgb(183, 210, 31) !important; /* Change text color for visibility */
  }

  .invoerBC{
    background-color: #d0e0f1; color:black;
  }

  .modal1 {  background-color: #d5e4f4  }
  .modal2 {  background-color: #e4d9b2  }

  .messageALertStyle { background-color: #f1bcab; color:black }
  .messageOkayStyle { background-color: #baffea; color:rgb(0, 0, 0) }
}

/* Dark mode styles */
[data-bs-theme="dark"]  {
  .plusButton {
    background-color: rgb(25, 87, 87) !important; /* Ensure background color is applied */
    color: rgb(209, 203, 203); /* Change text color for visibility */
  }
  
  .kalenderDag {
    background-color: rgb(25, 87, 87) ; /* Ensure background color is applied */
    color: rgb(209, 203, 203); /* Change text color for visibility */
  }
   
  .invoerBC{
    background-color: #154170;
  }
  .modal1 {  
    background-color: rgba(5, 51, 126, 0.4); 
    color: rgb(27, 5, 115) ; 
  }
  .modal2 {  
    background-color: rgba(74, 58, 4, 0.4); 
    color: rgb(245, 246, 239) ; 
  }
  .messageALertStyle { background-color: #b52eae; color:rgb(255, 255, 255) }
  .messageOkayStyle { background-color: #014732; color:rgb(255, 255, 255) }
}

.loginIcon_okayStyle {
  border-color: rgb(6, 79, 6);
  color: rgb(158, 252, 158);
}

.loginIcon_alertStyle {
  border-color: rgb(252, 170, 62);
  color: rgb(235, 186, 82);
}

.loginIcon_falseStyle {
  border-color: rgb(121, 5, 5);
  color: rgb(255, 32, 32);
}

.dagdeelSelect {
  width: 20%;
}

.full-width-table {
  width: 100%;
  box-sizing: border-box;
}

/* Example CSS classes for background colors */
.custom-select .select__control {
  background-color: transparent; /* You can use the class for styling here */
}

/* Add specific styles if needed */
.select__control.color_0 {
  background-color: rgb(114, 136, 156); /* Adjust or override based on your classes */
}

.select__control.color_1 {
  background-color: rgb(20, 244, 54); /* Adjust or override based on your classes */
}

.bootstrap-select .dropdown-toggle {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center items horizontally */
}

.bootstrap-select .dropdown-toggle svg {
  display: block !important; /* Make sure SVG icon is on its own line */
}

.bootstrap-select .dropdown-menu {
  background-color: #f8cfbe !important; /* Light background for dropdown */
}

/* Adjust styles for the SVG or icon within the dropdown toggle */
.bootstrap-select .dropdown-toggle .dropdown-toggle-icon {
  margin-bottom: 2px; /* Adjust spacing between icon and arrow */
}

.buttonBasis {
  margin-top: 0.2rem;
}

.opacity_50perc {
  opacity: 0.5 !important; 
}

.redBorder {
  border: solid 2px red;
}

.tdBorder{
  border : solid 1px rgb(22, 120, 28);
}

.nav a { 
  display: flex;
  color: inherit;
  text-decoration: none ; 
  height: 100%;
  align-items: stretch;
  padding: .3rem;
}

.partial-fill-button {
  position: relative;
  overflow: hidden;
  background-color: #ccc; /* Background color of the button */
  color: black; /* Text color */
  border: 1px solid #ccc;
}

.partial-fill-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%; /* Adjust this value to control the fill percentage */
  height: 100%;
  background-color: #007bff; /* Fill color */
  z-index: 0;
}

.partial-fill-button span {
  position: relative;
  z-index: 1;
}

.showAspectButton {
  height: 1.3rem !important ;

  padding-top: 4px !important ; 
  margin:auto !important ; 
  }

.long-word-break {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all; /* Ensures long words break */
}

.sliderDatumClass { font-size: x-small; }

.slider-button {
  padding: 1px;
  width: 2rem;
  height: 3rem;
}

.buttonRight {position: absolute; right: 1rem;}

.width3px  { width: 3px }
.space { padding-right: 4px;}


.welzijn_color_0 {  background-color: rgba(99, 97, 97, 0.4)   !important; color: rgb(99, 97, 97)   !important }  
.welzijn_color_1 {  background-color: rgba(30, 255, 0, 0.4)   !important; color: rgb(30, 255, 0)   !important }
.welzijn_color_2 {  background-color: rgba(108, 150, 30, 0.4) !important; color: rgb(108, 150, 30) !important }
.welzijn_color_3 {  background-color: rgba(207, 197, 22, 0.4) !important; color: rgb(207, 197, 22) !important }
.welzijn_color_4 {  background-color: rgba(255, 115, 1, 0.4)  !important; color: rgb(255, 115, 1)  !important }
.welzijn_color_5 {  background-color: rgba(236, 24, 140, 0.4) !important; color: rgb(236, 24, 140) !important }

.med_color_0     {  background-color: rgba(99, 97, 97, 0.4)   !important; color: rgb(99, 97, 97)   !important }  
.med_color_1     {  background-color: rgba(207, 197, 22, 0.4) !important; color: rgb(207, 197, 22) !important }
.med_color_2     {  background-color: rgba(108, 150, 30, 0.4) !important; color: rgb(108, 150, 30) !important }
.med_color_3     {  background-color: rgba(30, 255, 0, 0.4)   !important; color: rgb(30, 255, 0)   !important }
.med_color_4     {  background-color: rgba(207, 197, 22, 0.4) !important; color: rgb(207, 197, 22) !important }
.med_color_5     {  background-color: rgba(244, 219, 198, 0.4)  !important; color: rgb(255, 115, 1)  !important }

/* dit is de achtergrond van de eerste rij in EditWaardeDagdelenModal */
.bk_color_0 { background-color: rgba(152, 150, 150, 0.352)    !important }  
.bk_color_1 { background-color: rgba(6, 110, 12, 0.427)   !important }   
.bk_color_2 { background-color: rgba(243, 235, 187, 0.995)  !important }  
.bk_color_3 { background-color: rgb(147, 147, 138)  !important }  
.bk_color_4 { background-color: rgb(248, 216, 167)  !important }  
.bk_color_5 { background-color: rgb(255, 200, 200)  !important }  

/* background colors for normal range low - high */
.bk_strong_color_0 { background-color: rgb(99, 97, 97)    !important }  
.bk_strong_color_1 { background-color: rgb(68, 242, 94)    !important }   
.bk_strong_color_2 { background-color: rgb(160, 198, 4)   !important }  
.bk_strong_color_3 { background-color: rgb(236, 233, 84)  !important }  
.bk_strong_color_4 { background-color: rgb(255, 132, 1)   !important }  
.bk_strong_color_5 { background-color: rgb(192, 10, 10)  !important }  

/* colors for normal range low - high */
.fg_color_0 { color: rgb(99, 97, 97)    !important }  
.fg_color_1 { color: rgb(68, 242, 94)    !important }   
.fg_color_2 { color: rgb(160, 198, 4)   !important }  
.fg_color_3 { color: rgb(236, 233, 84)  !important }  
.fg_color_4 { color: rgb(255, 132, 1)   !important }  
.fg_color_5 { color: rgb(192, 10, 10)  !important }  


.fg_color_oneLetter_low  { color: rgb(168, 237, 99) !important }  
.fg_color_oneLetter_norm { color: rgb(218, 248, 49)  !important }  
.fg_color_oneLetter_high { color: rgb(248, 105, 205)  !important }  

.oneLetterInSpan {
  display: inline-block;
  line-height: 10px;
  vertical-align: middle;
}

.bk_select__single-value svg {
  font-size: 24px; /* Pas de grootte aan zoals nodig */
}

.noStyle {

}


.bk_select__control:hover {
  background-color: rgba(124, 134, 123, 0.6); /* Hover-styling */
}

.bk_select__menu {
  background-color: rgba(124, 134, 123, 0.6);; /* Achtergrondkleur van het menu */
}


.med_icon_5 { color: rgb(228, 10, 228)  !important } 

/* colors for gedaan middle = normal low = blue and hgh is red */

.gedaan_color_0 { color: rgb(99,  97,  97)  !important }  
.gedaan_color_1 { color: rgb(175, 225, 245) !important }   
.gedaan_color_2 { color: rgb(50,  191, 163) !important }   
.gedaan_color_3 { color: rgb(104, 164, 0)   !important }   
.gedaan_color_4 { color: rgb(255, 132, 1)   !important }  
.gedaan_color_5 { color: rgb(236, 24,  140) !important } 

.testColor { color: rgb(222, 242, 255) }
.buttonEyeAanUit { 
  background-color: rgb(168, 208, 235) !important; 
  height: 2rem;
  padding-top: 0.1rem;
}

.buttonCRUD { 
  background-color: rgb(168, 208, 235) !important; 
  height: 1.4rem !important;
  width: 2rem  !important;  
  padding: 0.2rem !important; 
}

.Button_x-large {
  padding: 1rem 2rem; /* Increase padding for an extra-large button */
  font-size: 1.5rem;   /* Increase font size */
}

.py-4 {
  padding: 2px !important;
  padding-top: 8px !important;
  margin-right:-5px;
}

.grey {color: gray}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (min-width: 750px) {
  #root {  padding: 1rem }
}

.card {
  padding: 21m;
}

.read-the-docs {
  color: #888;
}
